#header {
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: rgb(0, 0, 53);
    height: 70px;
    width: 100%;
}

#header ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-left: 50px;
}

#header ul li {
    height: 100%;
}

#header ul li a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 30px;
    color: white;
    font-weight: lighter;
    text-decoration: none;
}

#header ul li a:hover, #header ul li a:visited {
    text-decoration: none;
}

.icon {
    color: white;
    font-weight: lighter;
    margin-right: 10px;
}

.active-link {
    background-color: rgb(32, 136, 255);
}
