.App {
  text-align: center;
  background-color: rgb(228, 227, 227);
  padding-top: 50px;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: auto;
}

body, #root {
  height: 100%;
}

.page {
  min-height: 82vh;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App>p {
  height: 10vh;
  margin: auto;
  line-height: 10vh;
}
